@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";

/**
 * Site wide
 */

.section-title {
    padding-bottom: 10px;
    border-bottom: 2px solid $orange;
    display: inline-block;
}

.alert-close-icon-container {
    padding: 24px 24px 0 0 !important;
}

/**
 * Forms
 */

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=number]:focus + label {
    color: $orange !important;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid $orange !important;
    box-shadow: 0 1px 0 0 $orange !important;
}

.input-field input[type=text].invalid:focus,
.input-field input[type=email].invalid:focus,
.input-field input[type=number].invalid:focus {
    border-bottom: 1px solid $materialize-invalid-red !important;
    box-shadow: 0 1px 0 0 $materialize-invalid-red !important;
}

/**
 * Header
 */

header {
    padding: 15px 0;
}

.header-text-size {
    font-size: 24px;
}

.header-line-height {
    line-height: 1.5;
}

/**
 * Create playlist page
 */

#playlist_id {
    display: none;
}

.song-container {
    padding: 15px;
    margin-top: 15px;
}

.song-container img,
.song-container span {
    display: inline-block;
    vertical-align: middle;
}

.song-container img {
    height: 40px;
}

.song-container span {
    padding: 14px 16px;
}

.create-playlist-search-results {
    max-height: 300px;
}

.create-playlist-search-results > li {
    padding: 15px;
}

.create-playlist-search-results li img,
.create-playlist-search-results li span {
    display: inline-block;
    vertical-align: middle;
}

.create-playlist-search-results li img {
    width: auto;
}

.selected-video-preview-container {
    display: none;
}

#selected-video-preview iframe {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: none;
}
