@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";

/**
 * Site wide
 */

.section-title {
    padding-bottom: 10px;
    border-bottom: 2px solid $orange;
    display: inline-block;
}

.alert-close-icon-container {
    padding: 24px 24px 0 0 !important;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/**
 * Forms
 */

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=number]:focus + label {
    color: $orange !important;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid $orange !important;
    box-shadow: 0 1px 0 0 $orange !important;
}

.input-field input[type=text].invalid:focus,
.input-field input[type=email].invalid:focus,
.input-field input[type=number].invalid:focus {
    border-bottom: 1px solid $materialize-invalid-red !important;
    box-shadow: 0 1px 0 0 $materialize-invalid-red !important;
}

/**
 * Header
 */

header {
    padding: 15px 0;
}

.header-text-size {
    font-size: 24px;
}

.header-line-height {
    line-height: 1.5;
}

/**
 * Create playlist page
 */

#playlist_id {
    display: none;
}

.song-container {
    padding: 15px;
    margin-top: 15px;
}

.song-container img,
.song-container span {
    display: inline-block;
    vertical-align: middle;
}

.song-container img {
    height: 40px;
}

.song-container span {
    padding: 14px 16px;
}

.create-playlist-search-results {
    max-height: 300px;
}

.create-playlist-search-results > li {
    padding: 15px;
}

.create-playlist-search-results li img,
.create-playlist-search-results li span {
    display: inline-block;
    vertical-align: middle;
}

.create-playlist-search-results li img {
    width: auto;
}

.selected-video-preview-container {
    display: none;
}

#selected-video-preview iframe {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: none;
}

/* Playlist page */

#playlist_unique_string {
    display: none;
}

.playlist-container iframe {
    width: 100%;
}

.playlist-options-icon {
    font-size: 30px;
}

.playlist-option-active {
    color: $orange !important;
}

.playlist-option-inactive {
    color: $grey !important;
}

#replay {
    display: none;
}

.song-row-options {
    padding: 22px 15px !important;
}

.edit-playlist-btn {
    margin-top: 5px;
    margin-left: 25px;
}

.video-play-container {
    position: relative;
}

.edit-playlist-playing-overlay {
    background-color: rgba(158, 158, 158, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 50px;
}

.edit-playlist-playing-overlay-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.edit-playlist-finish-message {
    position: absolute;
    top: 50%;
    margin-top: -42px;
}
