/**
 * General
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.pointer-cursor {
    cursor: pointer;
}

/**
 * Colours
 */

.main-bg {
    background-color: $orange;
}

.main-bg-hover:hover {
    background-color: $light-orange;
}

.main-bg-focus:focus {
    background-color: $light-orange;
}

.light-grey-bg {
    background-color: $light-grey;
}

.white-bg {
    background-color: $white;
}

.white-bg-important {
    background-color: $white !important;
}

.white-text-important {
    color: $white !important;
}

.main-text {
    color: $orange;
}

.main-text-important, .main-text-hover-important:hover, .main-text-very-important {
    color: $orange !important;
}

.grey-text {
    color: $grey;
}

/**
 * Margin and padding
 */

.margin0 {
    margin: 0;
}

.mt0 {
    margin-top: 0;
}

.mt0i {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0;
}

.mb50 {
    margin-bottom: 50px;
}

.ml25 {
    margin-left: 25px;
}

.p0 {
    padding: 0;
}

.p0i {
    padding: 0 !important;
}

.p15 {
    padding: 15px;
}

.pt15i {
    padding-top: 15px !important;
}

.pt50 {
    padding-top: 50px;
}

.pt50i {
    padding-top: 50px !important;
}

.pt25i {
    padding-top: 25px !important;
}

.pb50i {
    padding-bottom: 50px !important;
}

.pb25i {
    padding-bottom: 25px !important;
}

.pb20i {
    padding-bottom: 20px !important;
}

/**
 * Typography
 */

html, body {
    font-family: 'Roboto', sans-serif;
}

/**
 * Other
 */

.smooth-box-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}
